<div class="mx-auto mt-16 max-w-xl sm:mt-20">
  <label for="first-name" class="block text-sm/6 font-semibold text-gray-900">Domena</label>
  <div class="mt-2.5">
    <input type="text" (change)="whois($event)" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
    <pre>
      {{whoisRes}}
    </pre>

  </div>
</div>